
/* Style the header */
header {
    background-color: #666;
    padding: 10px;
    text-align: centre;
    font-size: 35px;
    color: white;
	 word-spacing: 35px;
}





/* Style the navigation bar */

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
	position:absoulate;
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}




/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

 
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   color: black;
   text-align: center;
}